{% extends 'main.html' %}

{%block content%}

{% if page == 'login'%}
<div>
  <form method="Post" action="">
    {% csrf_token %}
    <label for="">Username</label>
    <input type="text" name="username" placeholder="Enter Username">
    <label for="">Password</label>
    <input type="text" name="password" placeholder="Enter password to login">
    <input type="submit" value="login">

  </form>
</div>

<p>Have not Signed Up yet ?</p>
<a href="{% url 'register' %}"> signup here </a>
</div>

{%else%}
<div>
  <form method="Post" action="">
    {% csrf_token %}
    <input type="submit" value="Register">

  </form>
</div>

{%endif%}
{%endblock%}